# Import Libraries

In [ ]:
# import numpy as np
# import pandas as pd

# Preview Data

In [ ]:
#df.head() #previews the first 5 rows
#df.head(10) #previews the first 10 rows
#pd.set_option('display.max_columns', None) #show all columns in the df

# Data Types

In [ ]:
df.info() #to ID Python var types

# int_var = 10
# float_var = 10.5
# str_var = 'Hello'
# bool_var = True

# Type Conversion

In [ ]:
# float_var = float(int_var)
# int_var = int(float_var)
# str_var = str(int_var)
# bool_var = bool(int_var)

# Convert to Datetime

In [ ]:
df['new column name'] = df['new column name'].apply(pd.to_datetime) #create new column and convert to datetime format

# Basic Operations

In [ ]:
# sum_var = int_var + float_var
# product_var = int_var * float_var
# diff_var = float_var - int_var
# div_var = float_var / int_var

# String Operations

In [ ]:
# str_concat = str_var + ' World'
# str_upper = str_var.upper()
# str_split = str_var.split('e')

# List Operations

In [ ]:
# list_var = [1, 2, 3, 4, 5]
# list_append = list_var.append(6)
# list_remove = list_var.remove(3)
# list_slice = list_var[1:4]

# Dictionary Operations

In [ ]:
# dict_var = {'key1': 'value1', 'key2': 'value2'}
# dict_keys = dict_var.keys()
# dict_values = dict_var.values()
# dict_update = dict_var.update({'key3': 'value3'})

# Looping and Conditionals

In [ ]:
# for i in range(5):
#     print(i)

# if int_var > 5:
#     print('Greater than 5')
# else:
#     print('Less than or equal to 5')

# Example Visualizations for Qualitative Var

In [ ]:
# below is code to create a bar chart
# df['column name'].value_counts().plot(kind='bar')
# plt.title('Chart Title')
# plt.xlabel('x axis name')
# plt.ylabel('y axis name')
# plt.show()

# Example Visualizations for Quantitative Var

In [ ]:
# below is code to create a boxplot
# df['column name'].plot(kind='box')
# plt.show()

# Example Visualizations for Qualitative Continuous Var

In [ ]:
# below is code to create a scatterplot
# sns.scatterplot(x = df['column name1'], y = df['column name2'])