In [1]:
import pandas as pd
import numpy as np
# import warnings

# warnings.filterwarnings('ignore')

In [12]:
df = pd.read_excel('IMDB_reduced.xlsx')

df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [13]:
df.rename(columns={'review': 'Review Description', 
                   'sentiment': 'Vibe'}, 
                   inplace=True)

In [14]:
# dont need axis = 1 since we specify columns
df.drop(columns='Review Description', 
        inplace=True)

df

        Vibe
0   positive
1   positive
2   positive
3   negative
4   positive
..       ...
81  negative
82  negative
83  negative
84  negative
85  negative

[86 rows x 1 columns]

In [15]:
df.to_csv('imdb_updated.csv')

# don't need google colab library as I am using vs code

In [1]:
import pandas as pd
pd.DataFrame.__module__

'pandas.core.frame'